.gg-input {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  input {
    min-height: 3rem;
    width: 100%;
    padding: 18px 12px 14px;
    font-size: 15px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
    background: var(--bg);
    color: var(--text);
    outline: none;

    &:focus {
      border-color: var(--primary);
      border-width: 2px;
    }

    &.has-error {
      border-color: #d93025;
      border-width: 2px;
    }
  }

  /* Autofill */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--bg) inset;
    -webkit-text-fill-color: var(--text);
  }

  label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--text-soft);
    pointer-events: none;
    transition: 0.2s ease;
    padding: 0 6px;
    background: transparent;
  }

  /* FLOAT */
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-60%) scale(0.8);
    font-size: 12px;
    color: var(--primary);
    background: var(--bg); // 👈 đúng theme
  }

  input.has-error + label {
    color: #d93025;
  }
}
